.checkbox-bold {
  border: 2px solid var(--bs-gray-600);
}

#table-container td {
    word-break: break-all;
    overflow: hidden;
    text-overflow: ellipsis;
}


#table-container .no-wrap {
    white-space: nowrap;
}
