{% extends 'base.html' %}

{% load django_bootstrap5 %}

{% block content %}

<div id="messages">
    {% include "partials/messages.html" %}
</div>

<div class="container">
    <h1>{{ title }}</h1>
    {% if item %}
        <p class="fs-5">Editing Item: {{ item.id }}</p>
    {% endif %}
    <!-- Buttons -->
    <div class="d-flex justify-content-between mb-3">
        <div class="d-flex gap-2">
            <button id="toggle-advanced-fields" class="btn btn-secondary" type="button"
                hx-on:click="toggleAdvancedFields(this)">Show Advanced Fields</button>
            <button class="btn btn-primary" type="submit" form="item_form">{{ button_text }}</button>
        </div>

        <a class="btn btn-outline-danger"
            href="{% if item %}{% url 'view_item' item.id %}{% else %}{% url 'search_results' %}{% endif %}?search={{ search }}&search_column={{ search_column }}&page={{ page }}">
            Cancel</a>
    </div>

    <form name="item_form" id="item_form" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <fieldset id="basic-fields" class="row" name="basic-fields" form="item_form">
            <legend>Basic Fields</legend>
            <div class="col">
            {% for field in form %}
                {% if field.name in basic_fields %}
                    <!-- `field.field` accesses actual field instance, rather than wrapper -->
                    {% if field.field.required %}
                        <div data-bs-toggle="tooltip" title="Required field">
                            {% bootstrap_field field label_class="form-label required-field-label" title="Required field" %}
                        </div>
                    {% else %}
                        {% bootstrap_field field %}
                    {% endif %}
                {% endif %}
                {% if field.name == "notes"  or field.name == "hard_drive_barcode_id"%}
                    </div><div class="col">
                {% endif %}
            {% endfor %}
            </div>
        </fieldset>

        <fieldset id="advanced-fields" class="row mt-3" name="advanced-fields" form="item_form" hidden>
            <legend>Advanced Fields</legend>
            <div class="col">
            {% for field in form %}
                {% if field.name in advanced_fields %}
                    {% if field.field.required %}
                        <div data-bs-toggle="tooltip" title="Required field">
                            {% bootstrap_field field label_class="form-label required-field-label" title="Required field" %}
                        </div>
                    {% else %}
                        {% bootstrap_field field %}
                    {% endif %}
                {% endif %}
                {% if field.name == "color_bit_depth"  or field.name == "date_audio_edit_completed" %}
                    </div><div class="col">
                {% endif %}
            {% endfor %}
            </div>
        </fieldset>
    </form>
</div>

{% endblock %}
