{% extends 'base.html' %}
{% load django_bootstrap5 %}


{% block content %}

{% if messages %}
<div class="alert alert-success">
    {% for message in messages %}
    {{ message }}
    {% endfor %}
</div>
{% endif %}

<div class="container">
    <h1>Item details</h1>
    <p class="fs-5">{% if item.file_name %} File: {{ item.file_name }} {% endif %}</p>
    <p class="fs-5">{% if item.title %} (Title: {{ item.title }}) {% endif %}</p>

    <!-- Buttons -->
    <div class="d-flex justify-content-between mb-3">
        <div class="d-flex gap-2">
            <button id="toggle-advanced-fields" class="btn btn-secondary" type="button"
                hx-on:click="toggleAdvancedFields(this)">Show Advanced Fields</button>
            <a class="btn btn-primary" href="{% url 'edit_item' item.id %}">Edit This Record</a>
        </div>

        <a class="btn btn-outline-secondary" href="{% url 'search_results' %}">Back to Search</a>
    </div>

    <div class="row">
        <h2 class="fs-4">Basic Fields</h2>
        <div class="col-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Storage Information </h5>
                    <p class="card-text"><strong>Hard Drive Name:</strong> {{ item.hard_drive_name }}</p>
                    <p class="card-text"><strong>DML LTO Tape ID:</strong> {{ item.dml_lto_tape_id }}</p>
                    <p class="card-text"><strong>ARSC LTO Tape ID:</strong> {{ item.arsc_lto_tape_id }}</p>
                    <p class="card-text"><strong>Hard Drive Barcode ID:</strong> {{ item.hard_drive_barcode_id }}</p>
                </div>
            </div>
        </div>

        <div class="col-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">File Information</h5>
                    <p class="card-text"><strong>File Folder Name:</strong> {{ item.file_folder_name }}</p>
                    <p class="card-text"><strong>Sub Folder Name:</strong> {{ item.sub_folder_name }}</p>
                    <p class="card-text"><strong>File Name:</strong> {{ item.file_name }}</p>
                </div>
            </div>
        </div>

        <div class="col-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Inventory Information</h5>
                    <p class="card-text"><strong>Inventory Number:</strong> {{ item.inventory_number }}</p>
                    <p class="card-text"><strong>Source Inventory Number:</strong> {{ item.source_inventory_number }}
                    </p>
                    <p class="card-text"><strong>Source Barcode:</strong> {{ item.source_barcode }}</p>
                    <p class="card-text"><strong>Title:</strong> {{ item.title }}</p>
                </div>
            </div>
        </div>
    </div>

    <div id="advanced-fields" class="mt-3" hidden>
        <h2 class="fs-4">Advanced Information</h2>
        <div class="card">
            <div class="card-body row">
                <div class="col">
                    <p class="card-text"><strong>Source Type:</strong> {{ item.source_type }}</p>
                    <p class="card-text"><strong>Resolution:</strong> {{ item.resolution }}</p>
                    <p class="card-text"><strong>Compression:</strong> {{ item.compression }}</p>
                    <p class="card-text"><strong>File Format:</strong> {{ item.file_format }}</p>
                    <p class="card-text"><strong>File Size:</strong> {{ item.file_size }}</p>
                    <p class="card-text"><strong>Frame Rate:</strong> {{ item.frame_rate }}</p>
                    <p class="card-text"><strong>Total Running Time:</strong> {{ item.total_running_time }}</p>
                    <p class="card-text"><strong>Source Frame Rate:</strong> {{ item.source_frame_rate }}</p>
                    <p class="card-text"><strong>Aspect Ratio:</strong> {{ item.aspect_ratio }}</p>
                    <p class="card-text"><strong>Color Bit Depth:</strong> {{ item.color_bit_depth }}</p>
                    <p class="card-text"><strong>Color Type:</strong> {{ item.color_type }}</p>
                    <p class="card-text"><strong>Frame Layout:</strong> {{ item.frame_layout }}</p>
                    <p class="card-text"><strong>Sample Structure:</strong> {{ item.sample_structure }}</p>
                    <p class="card-text"><strong>Sample Rate:</strong> {{ item.sample_rate }}</p>
                    <p class="card-text"><strong>Capture Device Make and Model:</strong>
                        {{ item.capture_device_make_and_model }}</p>
                    <p class="card-text"><strong>Capture Device Settings:</strong> {{ item.capture_device_settings }}
                    </p>
                    <p class="card-text"><strong>Date Capture Completed:</strong> {{ item.date_capture_completed }}</p>
                    <p class="card-text"><strong>Video Edit Software and Settings:</strong>
                        {{ item.video_edit_software_and_settings }}</p>
                    <p class="card-text"><strong>Date Edit Completed:</strong> {{ item.date_edit_completed }}</p>
                </div>
                <div class="col">
                    <p class="card-text"><strong>Color Grading Software:</strong> {{ item.color_grading_software }}</p>
                    <p class="card-text"><strong>Color Grading Settings:</strong> {{ item.color_grading_settings }}</p>
                    <p class="card-text"><strong>Audio File Format:</strong> {{ item.audio_file_format }}</p>
                    <p class="card-text"><strong>Date Audio Edit Completed:</strong>
                        {{ item.date_audio_edit_completed }}
                    </p>
                    <p class="card-text"><strong>Remaster Platform:</strong> {{ item.remaster_platform }}</p>
                    <p class="card-text"><strong>Remaster Software:</strong> {{ item.remaster_software }}</p>
                    <p class="card-text"><strong>Remaster Settings:</strong> {{ item.remaster_settings }}</p>
                    <p class="card-text"><strong>Date Remaster Completed:</strong> {{ item.date_remaster_completed }}
                    </p>
                    <p class="card-text"><strong>Subtitles:</strong> {{ item.subtitles }}</p>
                    <p class="card-text"><strong>Watermark Type:</strong> {{ item.watermark_type }}</p>
                    <p class="card-text"><strong>Security Data/Encrypted:</strong> {{ item.security_data_encrypted }}
                    </p>
                    <p class="card-text"><strong>Migration or Preservation Record:</strong>
                        {{ item.migration_or_preservation_record }}</p>
                    <p class="card-text"><strong>Hard Drive Location:</strong> {{ item.hard_drive_location }}</p>
                    <p class="card-text"><strong>Date Job Started:</strong> {{ item.date_job_started }}</p>
                    <p class="card-text"><strong>Date Job Completed:</strong> {{ item.date_job_completed }}</p>
                    <p class="card-text"><strong>General Entry Cataloged By:</strong>
                        {{ item.general_entry_cataloged_by }}
                    </p>
                    <p class="card-text"><strong>Notes:</strong> {{ item.notes }}</p>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
