<div class="d-flex justify-content-center align-items-center gap-2">
    <button class="btn btn-primary"
        {% if page_obj.has_previous %}
            hx-get="{% url 'render_table' %}?page={{ page_obj.previous_page_number }}&search={{ search }}&search_column={{ search_column }}"
            hx-target="#table-container"
        {% else %} disabled {% endif %}>
        Previous
    </button>
    {% for page in elided_page_range %}
        {% if page == '…' %}
            <span class="mx-1">…</span>
        {% elif page == page_obj.number %}
            <span class="btn btn-secondary active mx-1">{{ page }}</span>
        {% else %}
            <button class="btn btn-outline-secondary mx-1"
                hx-get="{% url 'render_table' %}?page={{ page }}&search={{ search }}&search_column={{ search_column }}"
                hx-target="#table-container">
                {{ page }}
            </button>
        {% endif %}
    {% endfor %}
    <button class="btn btn-primary"
        {% if page_obj.has_next %}
            hx-get="{% url 'render_table' %}?page={{ page_obj.next_page_number }}&search={{ search }}&search_column={{ search_column }}"
            hx-target="#table-container"
        {% else %} disabled {% endif %}>
        Next
    </button>
</div>
