<div id="relationships-card" class="card" hx-swap-oob="true">
    <div class="card-body">
        <h5 class="card-title">Relationships</h5>
        {% if relationships.outgoing_relationships or relationships.incoming_relationships %}
        <dl class="row mb-0">
            <dt class="col-sm-6">Type</dt>
            <dt class="col-sm-6">ID</dt>
            {% for relationship in relationships.outgoing_relationships %}
            <dd class="col-sm-6">{{ relationship.relationship_type }}</dd>
            <dd class="col-sm-6"><a href="{% url 'view_item' relationship.id %}">Record {{ relationship.id }}</a></dd>
            {% endfor %}
            {% for relationship in relationships.incoming_relationships %}
            <dd class="col-sm-6">{{ relationship.relationship_type }}</dd>
            <dd class="col-sm-6"><a href="{% url 'view_item' relationship.id %}">Record {{ relationship.id }}</a></dd>
            {% endfor %}
        </dl>
        {% else %}
        <p class="card-text text-muted mb-0">No relationships found.</p>
        {% endif %}
    </div>
    {% if perms.ftva_lab_data.change_sheetimport %}
    <div class="card-footer bg-transparent d-flex justify-content-end">
        <button class="btn btn-primary" type="button" data-bs-toggle="modal" data-bs-target="#relationship-modal"
            hx-get="{% url 'add_relationship' header_info.id %}" hx-target="#relationship-modal-content"
            hx-trigger="click">Add Relationship
        </button>
    </div>
    {% endif %}
</div>
